@media (max-width: 1300px){
    .titulo h1{
        font-size: 60px;
    }
    .uno h1{
        font-size: 30px;
    }
    .sombreado{
        overflow-x: hidden;
    }
}
@media (max-width: 1200px){
    .titulo h1{
        font-size: 50px;
    }
    .cabezal-container{
        margin-right: 0;
    }
    .logo{
        width: 125px;
    }
    .subtitulo h2{
        font-size: 27px;
    }
    .assistance h1{
        font-size: 40px;
    }
    .assistance p{
        font-size: 30px;
        width: 500px;
    }
    .sombreado{
        overflow-x: hidden;
    }

}
@media (max-width: 957px){
    .titulo h1{
        font-size: 45px;
    }
    .cabezal-container{
        margin-right: -15px;
    }
    .logo{
        width: 120px;
    }
    .auto{
        width: 250px;
        height: 250px;
    }
    .auto p{
        display: none;
    }
    .uno h1{
        font-size: 20px;
    }
    .cabezal{
        height: 170px;
    }
    .slideshow{
        height: 400px;
    }
    .sombreado{
        height: 400px;
    }
    .sombreado{
        overflow-x: hidden;
    }
    .assistance p{
        font-size: 26px;
    }
}
@media (max-width: 874px){
    .titulo h1{
        font-size: 37px;
    }
    .cabezal-container{
        margin-right: -30px;
    }
    .logo{
        width: 100px;
    }
    .subtitulo h2{
        font-size: 23px;
    }
    .sombreado{
        overflow-x: hidden;
    }
    .uno h1{
        font-size: 17px;
        text-shadow: none;
        padding: 20px;
    }
    .menu{
        transform: translateY(-1600px);
    }
    .menu-burger-list{
        transform: translateX(200px);
        transition: transform 0.5s ease;
        width: 200px;
    }
    
    .menu-icone{
        color: white;
        margin-top: 65px;
        display: flex;
    }
    .line-one, .line-two, .line-three{
        width: 100%;
        height: 7px;
        background-color: white;
        border-radius: 4px;
    }
}
@media (max-width: 840px){
    .auto{
        width: 200px;
        height: 200px;
    }
    .sombreado{
        overflow-x: hidden;
    }
    .auto img{
        height: 150px;
    }
    .finance{
        flex-direction: column;
        height: 1400px;
    }
    .izq{
        width: 100vw;
        height: 700px;
    }
    .uno h1{
        font-size: 30px;
    }
    .der{
        width: 100vw;
        height: 700px;
        display: flex;
        flex-direction: column-reverse;
    }
    .menu-icone{
        width: 40px;
        height: 40px;
    }
    .line-one, .line-two, .line-three{
        height: 4px;
    }
}
@media (max-width: 800px){
    .cabezal-container{
        margin-right: -50px;
    }
    .auto{
        width: 160px;
        height: 170px;
    }
    .auto img{

        width: 150px;
    }
    .sombreado{
        overflow-x: hidden;
    }
    .logo{
        width: 100px;
    }
    .menu-icone{
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 600px){
    .menu-icone{
        height: 20px;
        width: 20px;
        /*transform: translateX(50px);*/
        margin-left: 90px;
    }
    .line-one, .line-two, .line-three{
        height: 2px;
    }
    .cabezal-container{
        transform: translateX(30px);
        height: 150px;
    }
    .sombreado{
        overflow-x: hidden;
    }
    .titulo h1{
        font-size: 23px;
        margin-top: 30px;
    }
    .subtitulo h2{
        font-size: 17px;
        text-align: center;
    }
    .slideshow{
        height: 300px;
    }
    .sombreado{
        height: 300px;
    }
    .auto{
        width: 130px;
        height: 140px;
        margin: 10px;
    }
    .auto img{
        width: 120px;
        height: auto;
    }
    .auto h3{
        font-size: 10px;
    }
    .uno h1{
        font-size: 20px;
    }
    .assistance{
        height: 600px;
        margin-top: 60px;
        background-position: left;
    }
    .assistance h1{
        font-size: 25px;
        margin-top: 30px;
    }
    .assistance p{
        font-size: 27px;
    }
    .info h3{
        font-size: 12px;
    }
    .footer-uno p, .footer-dos p, .footer-tres p{
        font-size: 15px;
    }
    .footer-uno p:hover{
        transform: translateY(1px);
        box-shadow: 0 8px 20px #F2CB05;
        color: #F2CB05;
        font-size: 16px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.795);
    }
    .footer-dos p:hover{
        transform: translateY(1px);
        box-shadow: 0 8px 20px #F2CB05;
        color: #F2CB05;
        font-size: 16px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.795);
    }
    .footer-tres p:hover{
        transform: translateY(1px);
        box-shadow: 0 8px 20px #F2CB05;
        color: #F2CB05;
        font-size: 16px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.795);
    }
    .footer h4, .footer h5{
        font-size: 12px;
    }
    .developer-name{
        font-size: 13px;
    }
    .developer-media img{
        height: 15px;
        width: 15px;
        margin: 10px;
    }
}
@media (max-width: 450px){
    .logo{
        display: none;
    }
    .cabezal-container{
        transform: translateX(50px);
        margin-left: 40px;
    }
    .sombreado{
        overflow-x: hidden;
    }
    .titulo h1{
        font-size: 20px;
    }
    .subtitulo h2{
        text-align: center;
    }
    .assistance h1{
        font-size: 23px;
    }
    .assistance{
        height: 500px;
    }
    .assistance p{
        font-size: 20px;
        padding-left: 45px;
        padding-right: 45px;
    }
}
@media(max-width:400px){
    .titulo h1{
        font-size: 15px;
    }
    .menu-burger-list{
        height: 500px;
        margin-bottom: 80px;
    }
    .assistance h1{
        font-size: 21px;
    }
    .assistance p{
        font-size: 18px;
        padding-left: 57px;
        padding-right: 57px;
    }
}